@import "tailwindcss";

@layer base {
  :root {
    font-size: 62.5%;
  }

  body {
    background-color: #eaeaea;
    font-size: 1.6rem;
  }

  button {
    cursor: pointer;
  }

  input {
    @apply p-5 rounded-lg bg-red-700;
  }

  h2 {
    @apply text-4xl text-gray-900 text-center;
  }
}
